# -*- coding: utf-8 -*-
"""
Created on Sun Jun 13 23:14:49 2021

@author: harsha
"""

<html>
    <body> 
        
        <center>
        
            <h1> Churn Data classifier</h1><br/>
        
            <form method = "POST">
                <b> Age: <input type = "text", name = "a"> <br/>
                <b> CUS_Month_Income: <input type = "text", name = "b"> <br/>
                
                <input type = "submit", value = "predict"> <br/>
            </form>
        </center>
            
    </body>
</html>
